node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
*.env

*.tgz

.next/

.expo/

.gradle/
build/

target/

*.log

.DS_Store
Thumbs.db

.vscode/

*.cab
*.msi
*.swp
*~.#
.spring-boot-devtools/
