# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build outputs
node_modules/
dist/
dist-ssr/
build/
.target/
*.tgz
.next/
.expo/
.gradle/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

# Misc
*.cab
*.msi
*.swp
*~.#
.spring-boot-devtools/
