.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 100px;
}

.main{
    display: block;
    background-color: rgb(235, 235, 235);
    padding-top: 30px;
    padding-bottom: 5px;
}

.footer{
    background-color: lightblue;
    height: 30px;
}