.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.profileLink{
    color: whitesmoke;
    text-align: center;
    font-family: Georgia;
    font-size: 14px;
    font-weight: normal;
}